@use '/var' 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.leftSide{
    background-color: white;
    img{
    padding: 25px 20px;
    }
}

nav{
    display: flex;
    width: 100%;
    height: 100%;
    background: $blue;

}
